.HomeContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.HomeContent {
    width: 10%;
    height: 100%;
}
.img{

    margin-left: 1%;
    width:30%;
    height:30%;
}
.mainWrapper {
    padding: 0 10px;
}

.Home {
    width: 100%;
    height: 40%;
    background: url('../../assets/images/appBackgroundC.jpg');
    background-size: cover;
}

.HomeGreeting {
    font-size: 150px;
    font-family: 'Quicksand';
    margin: 0;
    color: #1883ba;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
}

.HomeBody {
    text-align: justify;
    width: 100%;
    height: 60%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.HomeLabel {
    margin-left: 0.5%;
    font-size: 16px;
    font-family: 'Quicksand';
    color: #1883ba;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    padding: 5px 0;
}

.NavigationBarContainer {
    width: 100%;
    height: 45px;
    background: #1883ba;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavigationBarImg {
    width: 20px;
    height: 20px;
    z-index: 2
}

.sectionLogOut {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.sectionLogOut:hover {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #1883ba;
    opacity: 0.6;
}

.NavigationBarLabel {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Quicksand';
    font-weight: 400;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionMenu {
    width: 80%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CancelButton {
    width: 100%;
    height: 45px;
    background: #1883ba;
    color: #ffffff;
    font-family: 'Quicksand';
    font-size: 16px;
    border-radius: 30px;
    border: none;
    opacity: 0.7;
    outline: none;
}

.AceptButton {
    width: 100%;
    height: 45px;
    background: #1883ba;
    color: #ffffff;
    font-family: 'Quicksand';
    font-size: 16px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.buttonContainer {
    display: flex;
    width: 30%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.AceptButtonContainer {
    width: 40%;
}

.CancelButtonContainer {
    width: 40%;
}

.LabeltextModal {
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: normal;
    color: #1883ba;
    text-align: center;
}

@media screen and (min-width: 1030px) {
    .HomeBody {
        width: 50%;
        height: 100%;
        margin: auto;
        padding: 0;
    }
    .Home {
        display: none;
    }
}
/**************************/
.imageHolder {
    width: 60%;
    display: block;
    flex: 0 0 60%;
    max-width: 900px;
    height: 70vmin;
}
.recentPredictions {
    margin-top: 100%;
    margin: 40px 0 0;
    background: #ffffff;
    padding: 10px;
}
/**************************/
.boton_personalizado{  
    position: absolute;
    margin-block-end: auto;
    border-top: 1px;  
    font-weight: 500;
    font-size: 15;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 10px;
    border: 2px solid #0016b0;
    margin: 4px;
  }

  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

  table {
    padding: 0px;
    margin-top: -30%;
    margin-left: 40%;
    position: absolute;
    width: 40%;
    text-align: justify;
    border-radius: 7px;    
    vertical-align: top;
    border: 1px solid #0016b0;
 }

 .linea {
  border-top: 1px solid #0016b0;
  height: 2px;
  padding: 0;
  margin: 30px;
}
