@font-face {
    font-family: 'Ayla';
    src: url('./components/assets/fonts/AylaCSscript.ttf')
}

@font-face {
    font-family: 'Quicksand';
    src: url('./components/assets/fonts/Quicksand-VariableFont_wght.ttf')
}